.examModal span.back {
    color: #6f2c7e;
    border: 2px #6f2c7e solid;
    padding: 3px;
    border-radius: calc(100% / 2);

    align-self: flex-start;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease, background-color .3s ease;
}

.examModal span.back:hover {
    color: #fff;
    background-color: #6f2c7e;
    transform: scale(1.2);
}

.examModal .formTribunal {
    width: 100%;
    padding: 0 4dvw;
}

.examModal .formTribunal .btn-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0 50px;
}

.examModal .formTribunal .saveBtn,
.examModal .formTribunal .cleanBtn {
    background-color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    color: #6f2c7e;
    cursor: pointer;
    border: 2px solid #6f2c7e;
    align-self: flex-end;
    display: flex;
    align-items: center;

    transition: transform .3s ease, color .3s ease, background-color .3s ease;
}

.examModal .formTribunal .saveBtn:hover {
    background-color: #2dca2d;
    color: white;
    border: 2px solid #2dca2d;
}

.examModal .formTribunal .cleanBtn:hover {
    background-color: #bb2525;
    color: white;
    border: 2px solid #bb2525
}