.pathInfo {
    background-color: white;
    padding: 7px 10px;
    border-radius: 20px;
    width: fit-content;
    margin-left: 15px;
    margin-top: 10px;
}

.pathInfo a{
    color: #6f2c7e;
    text-decoration: none;
}

.pathInfo a:hover{
    text-decoration: underline;
}