.docsModal {
    width: 97%;
    display: flex;
    flex-direction: column;
}

.docsModal span.back {
    color: #6f2c7e;
    border: 2px #6f2c7e solid;
    padding: 3px;
    border-radius: calc(100% / 2);

    align-self: flex-start;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease, background-color .3s ease;
}

.docsModal span.back:hover {
    color: #fff;
    background-color: #6f2c7e;
    transform: scale(1.2);
}

.docsModal .checkControl {
    color: #6f2c7e;
}

.docsModal .docsOnlyOnce,
.docsModal .docsPerYear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docsModal .docsOnlyOnce .docs {
    display: flex;
    width: 80%;
    margin-bottom: 30px;
}

.docsModal .docsPerYear .docs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docsModal .titleDocs {
    font-size: 1.18rem;
    text-decoration: underline #6f2c7e;
}

.docsModal .add-button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    color: #6f2c7e;
    cursor: pointer;
    border: 2px solid #6f2c7e;
    align-self: flex-end;
    display: flex;
    margin-right: 20px;

    transition: transform .3s ease, color .3s ease, background-color .3s ease;
}

.docsModal .add-button:hover {
    background-color: #2dca2d;
    color: white;
    transform: scale(1.1);
    border: 2px solid #2dca2d;
}

.docsModal .add-button span {
    transition: transform .3s ease;
}

.docsModal .tableOverflow {
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
}

.docsModal .deliverablePerYearTitleBox {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.docsModal .deliverablePerYearTitleBox .titleDocs {
    grid-column: 2;
}

.docsModal .deliverablePerYearTitleBox .deliverablePerYearBtns {
    display: flex;
    width: 98%;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
}

.docsModal .deliverableYearAdd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.docsModal .deliverableYearAdd p {
    margin: 0;
    color: #6f2c7e;
    font-size: 1.1rem;
}

.docsModal .deliverablePerYearTitleBox .deliverablePerYearBtns .comboControl {
    margin: 0;
}

.docsModal .deliverablePerYearTitleBox .deliverablePerYearBtns .comboControl .optionsContainer {
    flex-wrap: nowrap;
    width: 100%;
}

.docsModal .deliverablePerYearTitleBox .deliverablePerYearBtns .comboControl .optionsContainer label {
    margin-left: 8px;
}