.enrollmentSubjectsPage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.enrollmentSubjectsPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.enrollmentSubjectsPage .enrollmentSubjectsPageContainer h2 {
    color: white;
    margin: 0;
    margin-top: 2%;
}

.enrollmentSubjectsPage .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.enrollmentSubjectsPage .mainContent h3 {
    color: white;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 1%;
}

.enrollmentSubjectsPage .mainContent .not-available {
    background-color: #bb2525;
    margin: 0 15px;
}

.enrollmentSubjectsPage .mainContent .available {
    background-color: #1f55b9;
}

.enrollmentSubjectsPage .mainContent .approved {
    background-color: #10b723;
}

.enrollmentSubjectsPage .mainContent .not-available, .available, .approved {
    display: inline-block;
    padding: 15px;
    font-weight: 700;
    border-radius: 4px;
    color: white;
}

.enrollmentSubjectsPage .mainContent .warning {
    text-decoration: underline;
}
   
.enrollmentSubjectsPage .mainContent .warning:hover {
    cursor: pointer;
}

.enrollmentSubjectsPage .modalBackground {
    position: fixed !important;
}

.enrollmentSubjectsPage table,
.enrollmentSubjectsPage td {
    overflow: visible;
}

.enrollmentSubjectsPage .comboControl {
    border: 3px solid #6f2c7e;
    width: 95%;
    justify-self: center;
    margin: 0;
    flex-wrap: nowrap;
}

.enrollmentSubjectsPage .comboControl .icon {
    padding: 8px;
}

.enrollmentSubjectsPage .comboControl .optionsContainer {
    flex-wrap: nowrap;
}

.enrollmentSubjectsPage .comboControl .optionsContainer span {
    position: initial;
}

.enrollmentSubjectsPage .add-button {
    margin-top: 20px;
    margin-bottom: 30px;
}
