.courseDetailPage{
    width: 100%;
    display: flex;
}

.courseDetailPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.courseDetailPage .controls {
    display: flex;
    width: 98%;
    margin: 1% 1% 0 1%;
    justify-content: space-between;
    align-items: center;
}

.courseDetailPage .controls .inputControl {
    margin: 0;
    width: 50%;
}


