.homePage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homePage .homePageContainer h2 {
    color: white;
    margin: 0;
    margin-top: 2%;
}

.homePage .homePageContainer .comboControl {
    width: 400px;
}

.homePage .homePageContainer .comboControl .optionsContainer label {
    justify-content: center;
    justify-self: center;
    flex: 1;
}


.homePage .buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.homePage .chartsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.homePage .stadisticContainer {
    display: flex;
    align-items: center;
}

.homePage .stadisticContainer .studentsInDangerGraphic {
    display: flex;
    align-items: center;
}

.homePage .enrollmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3f0d53b3; 
    padding: 15px;
    border-radius: 15px;
    margin-left: 3%;
}

.homePage .riskCard{
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
    margin-top: 10%;
    background-color: #3f0d53b3; 
    padding: 10px;
    border-radius: 5px;
}

.homePage .riskCard button{
    margin-top: 5%;
    color: white;
    background-color: #3f0d53b3;
    border-radius: 5px;
}