.homePage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homePage .homePageContainer h2 {
    color: white;
    margin: 0;
    margin-top: 2%;
}

.homePage .buttonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.chartsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.enrollmentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3f0d53b3; 
    padding: 15px;
    border-radius: 15px;
    margin-left: 3%;
}

.mainContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.riskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.riskCard{
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    margin-top: 10%;
    background-color: #3f0d53b3; 
    padding: 10px;
    border-radius: 5px;
}

.riskCard button{
    margin-top: 5%;
    color: white;
    background-color: #3f0d53b3;
    border-radius: 5px;
}