.usersPage{
    width: 100%;
    display: flex;
}

.usersPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.usersPage .controls {
    display: flex;
    width: 98%;
    margin: 1% 1% 0 1%;
    justify-content: space-between;
    align-items: center;
}

.usersPage .controls .inputControl {
    margin: 0;
    width: 50%;
}


.usersPage .arrow {
    cursor: pointer;
    padding: 10px;
    max-height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid #8e44b0;
    border-radius: 10px;
}

.usersPage .arrow:hover {
    background-color: #8e44b0;
    color: white;
}
