.studentAddModal {
    width: 100%;
    position: relative;
}

.studentAddModal h4 {
    color: white;
}

.studentAddModal span.close {
    position: absolute;
    color: white;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease;
}

.studentAddModal span.close:hover {
    color: #cb2b2b;
    transform: scale(1.3) rotateZ(180deg);
}

.studentAddModal form {
    width: 60%;
}

.studentAddModal .inputControl {
    margin: 10px 0;
}