.assignationModal {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assignationModal h4 {
    color: white;
}

.assignationModal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 540px;
    width: 80%;
}

.assignationModal span.close {
    position: absolute;
    color: white;
    font-size: 2rem;
    z-index: 10;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease;
}

.assignationModal span.close:hover {
    color: #cb2b2b;
    transform: scale(1.3) rotateZ(180deg);
}

.assignationFormContainer {
    background-color: white;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 60px 0;
    margin-bottom: 30px;
}

.assignationFormContainer .inputControl,
.assignationFormContainer .dateControl,
.assignationFormContainer .comboControl,
.assignationFormContainer .textareaControl {
    margin-top: 50px;
    border: 3px solid #6f2c7e;
    border-radius: 5vh;
}

.assignationFormContainer .dateControl,
.assignationFormContainer .comboControl {
    margin-top: 55px;
}

.assignationFormContainer .textareaControl {
    height: 300px;
}

.assignationFormContainer .textareaControl div {
    overflow: hidden;
}

.assignationFormContainer .inputControl label,
.assignationFormContainer .textareaControl label {
    color: #6f2c7e !important;
    margin-left: 90px;
}

.assignationFormContainer .inputControl:has(input:focus) label,
.assignationFormContainer .inputControl:has(input:not(:placeholder-shown)) label {
    transform: translateY(-85%) translateX(-5%);
}

.assignationFormContainer .textareaControl:has(textarea:focus) label,
.assignationFormContainer .textareaControl:has(textarea:not(:placeholder-shown)) label {
    transform: translateY(-63%) translateX(-5%);
    color: white;
}

.assignationFormContainer .add-button {
    background-color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    color: #6f2c7e;
    cursor: pointer;
    border: 2px solid #6f2c7e;
    align-self: flex-end;
    display: flex;

    transition: transform .3s ease, color .3s ease, background-color .3s ease;
}

.assignationFormContainer .add-button:hover {
    background-color: #2dca2d;
    color: white;
    transform: scale(1.1);
    border: 2px solid #2dca2d;
}

.assignationFormContainer .arrow {
    align-self: center;
    background-color: #6f2c7e;
    border: 2px solid #6f2c7e;
    color: white;
    margin: 0 10px;
    padding: 8px 16px 12px 16px;
    border-radius: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: color .3s ease, background-color .3s ease;
}

.assignationFormContainer .arrow:hover {
    background-color: white;
    border: 2px solid #6f2c7e;
    color: #6f2c7e;
}