* {
    user-select: none;
}

body {
    background: linear-gradient(160deg, #6f2c7e, #d32abc 60%);
    margin: 0;
    display: flex;
    min-height: 100vh;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

label,
p,
input,
th,
td,
select,
span {
    font-family: 'Teachers', cursive;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Prompt", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #6f2c7e;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b1044;
}

/* ANIMATIONS HERE */