.examRegistrationsPage{
    width: 100%;
    display: flex;
}

.examRegistrationsPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.examRegistrationsPage .controls {
    display: flex;
    width: 98%;
    margin: 1% 1% 0 1%;
    justify-content: space-between;
    align-items: center;
}

.examRegistrationsPage .controls .inputControl {
    margin: 0;
    min-width: 250px;
    width: 30%;
}

.examRegistrationsPage .tooltip {
    font-size: 16px;
    text-decoration: underline;
}
.examRegistrationsPage .option {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.examRegistrationsPage .closed {
    background-color: #bb2525;
}

.examRegistrationsPage .available {
    background-color: #1f55b9;
}

.examRegistrationsPage .registered {
    background-color: #10b723;
}

.examRegistrationsPage .closed, .available, .registered, .closedUnder {
    padding: 15px 15px;
    font-weight: 700;
    border-radius: 4px;
    color: white;
}

.examRegistrationsPage .closed{
    padding: 15px 15px 35px 15px;
}

